#announcements {
    
    color: red;
}

body{
    background-color: #2D3047;
    color: #F79F79;
}

#toolbar {
    background-color: #FFDBB5;
    display:flex;
}

#logo {
    background: #87B6A7;        
    height: 100px;
    /*width: 100px;*/
    flex-grow: 1;
}

#messaging {
    background: #87B6A7;    
    height: 100px;
    /*width: 100px;*/
    flex-grow: 2;
}

#options {
    height: 100px;
    background: #87B6A7;
    flex-grow: 1;
}

.toolbar-item {
    
    margin: 0.5rem;
    padding: 0.5rem;
}

#msg-field {
    
    display: block;
    width: 95%;
}