@font-face {
    font-family: "JosefinSans-Regular";
    src: url("../fonts/JosefinSans-Regular.ttf");
}

@font-face {
    font-family: "JosefinSans-Bold";
    src: url("../fonts/JosefinSans-Bold.ttf");
}

@media (max-width: 460px) {        
    .toolbar {
        
        padding: 1rem;
        box-shadow: 0.01rem 0.01rem 0.8rem 0.001rem #888888;  
    }
}

body{
    background-color: #FFFFFF;
    color: #000;
    font-family: JosefinSans-Regular;
    font-size: 1.2rem;
}

header {
    
    text-align: center;
}

header h1 {
    
    margin-bottom: 0;
    font-family: JosefinSans-Bold
}

header #logo {
    
    width: 4rem;
    height: auto;
}

.container{
	max-width: 420px;
	margin:0 auto;
}

#toolbar {
    display: flex;
    padding: 15px;

}

.toolbar-item {
    
    text-align: center;
    border-radius: 0.2rem;
    margin: 0 0.5rem;
    padding: 1.0rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #888888;

}

.toolbar-item h3 {
    
    margin: 0 auto 0.5rem auto;
}

.toolbar-item>* {
    
    margin: 0.5rem 0;
}

.toolbar-item:first-of-type {
    margin-left: 0;
}

.toolbar-item:last-of-type {
    
    background: #FF6B6B;
    margin-right: 0;
    box-shadow: 0.01rem 0.01rem 0.8rem 0.001rem #888888;
}

#logo {
    background: #000;    
    flex-grow: 1;
    box-shadow: 0.01rem 0.01rem 0.8rem 0.001rem #888888;    
}

#messaging {
    flex-grow: 2;
}

#options {
    flex-grow: 1;
}

#msg-field {
    
    display: block;
    width: 94%;
}

#messages {
    width:420px;
	margin: 0 auto;
    padding: 0;
    display: block;
}

.gridster {
    
    width: 100%;
    padding: auto 0;
    padding-left: 0;
    margin-bottom: 1.5rem;
}

li.message-card {
    
    padding: 0.5rem;
    overflow: hidden;
    list-style-type: none;
    box-shadow: 0.01rem 0.01rem 0.8rem 0.001rem #888888;
    box-shadow: 0.1rem 0.1rem 0.1rem #888888;
    border-radius: 0.2rem;
    text-align: left;
}

li.message-card img {
    
    width: 100%;
    height: auto;
}

.expandable-modal, .expandable-modal button {
    
    border-radius: 0.2rem !important;    
}

.expandable-modal img {
    
    display: block;
    margin: auto;
    max-width: 100%; 
}

.options-group {

    display: flex;
    justify-content: space-between;
}

.options-col {
    
    flex-grow: 1;
    max-width: 49%;
}

.option {
    
    margin: 0.5rem 0;
    width: 100%;
}

#to-phone, #from-phone {
    
    display: block;
    text-align: center;
    width: 89%;
}

#time {
    
    margin: 0;
    text-align: center;
    width: 94%;
}

#private, #enable-to {
    
    min-height: 1.8rem;
    padding-top: 1rem;
}

textarea, input[type="text"], #time, button {
    
    font-family: JosefinSans-Regular;
    font-size: 1.2rem;
}
textarea, input[type="text"], #time {
    
    padding: 0.5rem;
    background-color: #FFF;
    border-radius: 0.2rem;
    border: 0 solid #FFF;
}

.toggle-button, button {
    
    padding: 0.5rem 0.2rem;
    font-weight: bolder;
    background-color: #FFF;
    border-radius: 0.2rem;
    border: 0 solid #FFF;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.toggle-button:hover {
    
    background-color: #DDD;
}

form {
    
    width: 100%;
    margin: 0;
}