body{
    background-color: #2D3047;
    color: #000;
}

#toolbar {
    height: 10rem;
    display: flex;
    padding: 15px;
}

.toolbar-item {
    
    max-height: 100%;
    background: #87B6A7;
    margin: 0 0.5rem;
    padding: 0.5rem;
}

.toolbar-item:first-of-type {
    
    margin-left: 0;
}

.toolbar-item:last-of-type {
    
    margin-right: 0;
}

#logo {
    flex-grow: 1;
}

#messaging {
    flex-grow: 2;
}

#messaging>div {
    
    margin: auto;
    width: 95%;
}

#options {
    flex-grow: 1;
}

#msg-field {
    
    display: block;
    width: 100%;
    height: 50%;
}

#messages {
    
    padding: 0;
    margin: 0;
    display: block;
}

.gridster {
    
    width: 100%;
    padding: auto 0;
}

li.message-card {
    
    padding: 0.5rem;
    overflow: hidden;
    background-color: #FFF;
    list-style-type: none;
}

li.message-card img {
    
    width: 100%;
    height: auto;
}

.expandable-modal .sweet-content {
    
    text-align: left;
}

.expandable-modal img{
    
    display: block;
    margin: auto;
    max-width: 100%; 
    /*width: auto;*/
}